fastapi
uvicorn[standard]
python-multipart
httpx
pymupdf
python-docx
Pillow
python-telegram-bot
yt-dlp[default]>=2025.06.01
gallery-dl
qrcode[pil]
jdatetime
beautifulsoup4
sympy
matplotlib
pypdf
curl_cffi
